/* Navbar styling */
.navbar {
    background-color: #1a1a2e;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: #f5f5f5;
    text-align: center;
    padding: 12px 50px;
    text-decoration: none;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar a:hover {
    background: #e94560;
    color: white;
    border-radius: 5px;
}

/* Footer styling */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1a1a2e;
    color: #f5f5f5;
    text-align: center;
    padding: 10px 0;
    font-family: "Poppins", sans-serif;
}

/* Styling for the body of the website */
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    color: #333;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 150px;
}

/* Appointments Container */
.appointments-container {
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 14px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    width: 90%;
    max-width: 600px;
    animation: fadeIn 1s ease-in-out;
}

/* Heading Styling */
h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #1a1a2e;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #e94560;
    color: white;
}

/* Submit Button Styling */
button[type="submit"] {
    background-color: #1a1a2e;
    color: white;
    border: none;
    padding: 1;
}

.appointment-button {
    color: white;
    /* Witte tekstkleur */

    /* Tekst centreren */
    text-decoration: none;

    font-size: 16px;
    /* Tekstgrootte */
    border-radius: 5px;
    /* Ronde hoeken */
}

#conobomama {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

#conobomama a {
    background-color: #000000;
    /* Transitie-effect voor achtergrondkleur */
    padding: 14px 20px;

}

#yh {
    text-decoration: none;
    color: white;
}
